@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
    /* spacing */
    --topMargin: 5em;
    --hSpace: 0.5em;

    /* animation */
    --delay: 0.35s;
    
    /* colors */
    --black: rgb(50, 50, 50);
    
    --white1: #e5eee0;
    --white2: #d9eddf;
    --white3: #ecfef4;

    --grey1: #d9eddf;
    --grey2: #9bb0a5;
    --grey3: #9792ff;

    --colorMain: #49d197;
    --highlight: #00ff91;

    --colorDark1: #69875b;
    --colorDark2: #003b11;
    --colorDark3: #386c5f;

    --colorLight1: #69eeb2;
    --colorLight2: #8ada88;
    --colorLight3: #bde181;
    --colorLight4: #cefbe3;

    --color2: #00caff;
    --color3: #0094da;
}

/* general styling */

html {
    font-size: 17px;
    background-color: var(--white1);
    color: var(--black);
}
* {
    font-family: "Nunito", sans-serif;
}

button {
    outline: none;
    border: none;
    background-color: var(--colorMain);
    color: var(--white3);
    line-height: 0;
    padding: 1.5em;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;

    transition: all var(--delay);
}
button:hover {
    cursor: pointer;
    color: white;
    background-color: var(--colorLight1);
}

.icon {
    width: 20px;
    height: 20px;
}

.navIconButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    padding: 1em;
    padding-top: 0.75em;
    padding-bottom: 0.5em;
}
.navIconButton p {
    margin: 0;
    padding: 0;
}
.navIconButton img {
    margin: 0;
    padding: 0;
    margin-right: var(--hSpace);
}

/* landing page */

.landing {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--topMargin);
    align-items: center;
}
.landing h1 {
    font-size: 3em;
    margin: 0;
    margin-bottom: 0.5em;
}
.landing button {
    font-size: 1.2em;
}
.landing div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.landing div button:first-child {
    margin-right: calc(var(--hSpace) * 3);
}
.landing #practiceHighScoreHover {
    color: var(--black);
    filter: brightness(1.15);
    position: absolute;
    margin-top: 4em;
    transition: all var(--delay);
    user-select: none;
    opacity: 0;
    margin-left: -1em;
}
.landing div button:first-child:hover ~ #practiceHighScoreHover {
    opacity: 1;
    margin-left: 0;
}

/* online */

.online {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: flex-start;
}

.online section {
    display: flex;
    flex-direction: column;
}

.online .name {
    display: flex;
    flex-direction: row;
}
.online .name p:first-of-type {
    margin-right: var(--hSpace);
}

.online .openCreate {
    margin-bottom: 2em;
}

.online .create {
    display: none;
    margin-bottom: 3em;
}
.online .create .container {
    display: flex;
    flex-direction: row;

}
.online .create .container div {
    display: flex;
    flex-direction: column;
}

.online .join .container {
    display: flex;
    flex-direction: row;
    margin: 0;
}
.online .join .container:not(:last-of-type) {
    margin-bottom: 1em;
}

/* game */

.game {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--topMargin) * 0.5);
    justify-content: flex-start;
}
.game section {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.top {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(-5%);
}
.top p {
    margin: 0;
    font-size: 1.35em;
}
.top #mainTimer {
    font-weight: bold;
    font-size: 3em;
}
.top div {
    display: flex;
    flex-direction: row;
}
.top div p:first-child {
    margin-right: calc(var(--hSpace) * 1.5);
}
.top div #lastTimer {
    width: 5em;
    margin-right: -2.5em;
}

.total {
    position: absolute;
    font-size: 1.5em;
    margin-left: 50vw;
    margin-top: 1em;
}
.total p:first-of-type {
    font-weight: bold;
}
.total #totalPoints {
    color: var(--colorDark3);
}

#gainedPoints {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1em;
    width: 10em;
    height: 1em;
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: -2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: var(--grey3);
    color: gold;
    border-radius: 20px;
    user-select: none;
    margin-left: 50vw;
    transform: translateX(-75%);
    position: absolute;
    opacity: 0;
}

table tr td {
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    font-size: 1em;
    color: var(--black);
    user-select: none;
    transition: all calc(var(--delay) * 0.7);
}

.game table {
    z-index: 0;
}
.game canvas {
    pointer-events: none;
    z-index: 1;
    margin-left: 2.5em;
}

.game table {
    margin-right: 2.5em;
    margin-left: 2.5em;
}

.game .found h1 {
    margin: 0;
    margin-bottom: 0.75em;
    font-size: 1.4em;
}
.game .found p {
    margin: 0;
    font-size: 1em;
    border-radius: 20px;
    margin-left: -1em;
    padding-left: 1em;
    padding-right: 1em;
    width: fit-content;
}
.game .found p:not(:last-child) {
    margin-bottom: 0.5em;
}