@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
    /* spacing */
    --topMargin: 5em;
    --hSpace: 0.5em;

    /* animation */
    --delay: 0.35s;
    
    /* colors */
    --black: rgb(50, 50, 50);
    
    /* --white1: #e5eee0; */
    --white1: rgb(235, 235, 235);
    --white2: #d9eddf;
    --white3: #ecfef4;

    --grey1: #d9eddf;
    --grey2: #9bb0a5;
    --grey3: #9792ff;

    --colorMain: #49d197;
    --highlight: #00ff91;

    --colorMainDarker: #3ea377;
    --colorMainDarkerHighlight: #4dc591;

    --colorDark1: #69875b;
    --colorDark2: #003b11;
    --colorDark3: #386c5f;

    --colorLight1: #66e0a9;
    --colorLight2: #8ada88;
    --colorLight3: #bde181;
    --colorLight4: #cefbe3;

    --color2: #00caff;
    --color3: #0094da;
}

/* general styling */

html {
    font-size: 17px;
    background-color: var(--white1);
    color: var(--black);
}
* {
    font-family: "Nunito", sans-serif;
}

body {
    transition: margin-left 0.5s;
}

button {
    outline: none;
    border: none;
    background-color: var(--colorMainDarker);
    border: 2px solid transparent;
    color: var(--white3);
    line-height: 0;
    padding: 1.5em;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;

    transition: all var(--delay);
}
button:hover {
    cursor: pointer;
    color: white;
    background-color: var(--colorMainDarkerHighlight);
}

.invertButton {
    background-color: transparent;
    color: var(--colorMainDarker);
    border: 2px solid var(--colorMainDarker);
}
.invertButton:hover {
    border-color: transparent;
}

.invertButton:hover .icon {
    filter: brightness(0) invert(1);
}

.navIconButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    padding: 1em;
    padding-top: 0.75em;
    padding-bottom: 0.5em;
}
.navIconButton p {
    margin: 0;
    padding: 0;
}
.navIconButton img {
    margin: 0;
    padding: 0;
    margin-right: var(--hSpace);
}

.icon {
    width: 20px;
    height: 20px;
}

.iconInvert {
    filter: invert(1) brightness(0.97);
}

.errorMessage {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    border-radius: 5px;
    background-color: #FFCDD2;
    border: 2px solid transparent;
    padding: 0.25em;
    padding-top: 1.25em;
    line-height: 0;
    height: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 0.2s;
}

/* landing page */

.landing {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20em;
    align-items: center;
}
.landing #overallGameModeLabel {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
}
.landing #overallGameModeSwitchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--colorLight4);
    border-radius: 15px;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}
.landing #overallGameModeSwitchContainer p {
    font-size: 1.1em;
    border-radius: 15px;
    padding: 0.2em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    margin: 0;
    font-weight: bold;
    user-select: none;
}
.landing #overallGameModeSwitchContainer p:first-child {
    background-color: var(--colorMain);
}
.landing h1 {
    font-size: 3em;
    margin: 0;
}
.landing .subHeading {
    font-weight: normal;
    font-size: 1.2em;
    margin: 0;
    margin-top: -0.5em;
    margin-bottom: 2em;
}
.landing button {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.landing button .icon {
    margin-right: 0.5em;
    filter: invert(1);
}
.landing div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.landing div button:first-child {
    margin-right: calc(var(--hSpace) * 3);
}
.landing #practiceHighScore {
    display: flex;
    color: var(--black);
    filter: brightness(1.15);
    position: absolute;
    margin-top: 3.5em;
    transition: all var(--delay);
}

/* online menu */

.online {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: flex-start;
    width: fit-content;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--topMargin);
}

.online * {
    margin: 0;
}

.online section {
    display: flex;
    flex-direction: column;
}

.online .name {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 1.1em;
    align-items: center;
    opacity: 0;
}
.online .name p:first-of-type {
    margin-right: var(--hSpace);
}
.online .name .inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 0.25em;
    border-radius: 15px;
    transition: all 0.25s;
}
.online .name #nameInput {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1em;
    color: var(--black);
    font-weight: bold;
    width: fit-content;
    padding: 0.25em;
    padding-left: 0.7em;
    padding-right: 1.75em;
    border-radius: 15px;
    border: 2px solid var(--black);
    opacity: 0;
    transition: all var(--delay), width 0.15s;
}
.online .name .controlsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25em;
    border-radius: 20px;
    transition: all 0.18s, margin-left 0s;
    height: 20px;
    width: 20px;
}
.online .name .nameInputNotActive {
    opacity: 0;
}
.online .name .nameInputActive {
    display: none;
}

.online .info h1 {
    font-size: 1.8em;
}
.online .info p:not(:last-of-type) {
    margin-bottom: 0.5em;
}

.online .openCreate {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    width: fit-content;
    padding: 1em;
}
.online .openCreate .icon {
    filter: invert(1);
    margin-right: 0.5em;
}

.online .create {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
    border-radius: 7px;
    background-color: var(--black);
    height: 0;
    padding: 0;
    padding-top: 0.25em;
    transition: all 0.35s, background-color 0.2s;
}
.online .create .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: fit-content;
    background-color: white;
    padding: 1.25em;
    border-radius: 10px;
    border: 2px solid var(--colorDark3);
    border-bottom: 7px solid var(--colorDark3);
    display: none;
}
.online .create .container:first-child {
    margin-right: 2em;
}
.online .create .container .containerTop {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.online .create .container .containerTop .icon {
    scale: 1.2;
    border-radius: 3px;
    padding: 0.45em;
    background-color: var(--colorLight1);
    border: 2px solid black;
}
.online .create .container .containerTop div {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}
.online .create .container .containerTop div p:first-of-type {
    font-size: 1.2em;
    font-weight: bold;
}
.online .create .container button {
    margin-top: 0.5em;
    padding: 1.25em;
    width: 7em;
}
.online .create .container .comingSoon {
    background-color: var(--grey2);
    opacity: 0.75;
    z-index: 0;
}
.online .create .container .comingSoon:hover {
    cursor: default;
    opacity: 0.45;
}
.online .create .container .comingSoonMessage {
    opacity: 0;
    z-index: 1;
    margin-top: -4.5em;
    background-color: var(--grey3);
    color: white;
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 15px;
    border: 1px solid grey;
    border-bottom: 3px solid grey;
    transition: all 0.25s;
    pointer-events: none;
}
.online .create .container .comingSoon:hover ~ .comingSoonMessage {
    opacity: 1;
    margin-top: -4em;
}

.online .joinHeader {
    margin-bottom: 0.5em;
}

.online .join .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    width: fit-content;
    background-color: var(--grey1);
    padding: 1em;
    border-radius: 10px;
    border: 1px solid var(--grey2);
    border-bottom: 4px solid var(--grey2);
}
.online .join .container:not(:last-child) {
    margin-bottom: 1em;
}
.online .join .container *:not(:last-child) {
    margin-right: 0.5em;
}
.online .join .container .typeIcon {
    scale: 1.1;
    border-radius: 5px;
    padding: 0.35em;
    background-color: var(--colorMain);
    border: 2px solid var(--black);
}
.online .join .container .gameName {
    font-size: 1.2em;
    font-weight: bold;
}
.online .join .joinButton {
    margin-left: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    border-radius: 25px;
    background-clip: padding-box;
    border-bottom: 3px solid transparent;
}
.online .join .joinButton:hover {
    border-color: var(--black);
}
.online .join .joinButton *:not(:last-child) {
    margin-right: 0.5em;
}
.online .join .joinButton .icon {
    filter: invert(1);
}

/* lobby */

.lobby {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

.lobby h1 {
    font-size: 2em;
    margin: 0;
}

.lobby .controls {
    margin-top: 0.5em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
}
.lobby .controls button {
    font-size: 1em;
    padding: 0.5em;
    margin-right: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.lobby .controls button .icon {
    margin-right: 0.5em;
}

.lobby .players {
    display: flex;
    flex-direction: column;
}

.lobby .players .container {
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 1em;
    margin-top: 5.35em;
    border: 1px solid grey;
    border-bottom: 4px solid grey;
}

.lobby .players .container .heading {
    margin-top: -5.8em;
    margin-left: -1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
}
.lobby .players .container .heading h2 {
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.lobby .players .container .heading #playersCount {
    margin-right: 0.5em;
    background-color: var(--grey1);
    border: 1px solid var(--grey2);
    border-bottom: 3px solid var(--grey2);
    border-radius: 5px;
    padding: 0.5em;
}

.lobby .players .container p {
    font-size: 1.1em;
    margin: 0;
    margin-bottom: 0.5em;
}
.lobby .players .container p:first-of-type {
    margin-top: 0.5em;
}

/* practice */

.game {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--topMargin) * 0.5);
    justify-content: flex-start;
}
.game section {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.top {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(-5%);
}
.top p {
    margin: 0;
    font-size: 1.35em;
}
.top #mainTimer {
    font-weight: bold;
    font-size: 3em;
}
.top div {
    display: flex;
    flex-direction: row;
}
.top div p:first-child {
    margin-right: calc(var(--hSpace) * 1.5);
}
.top div #lastTimer {
    width: 5em;
    margin-right: -2.5em;
}

.total {
    font-size: 1.5em;
    margin-left: 20em;
    margin-top: -2em;
    transition: all 0.4s;
}
.total p:first-of-type {
    font-weight: bold;
}
.total #totalPoints {
    color: var(--colorDark3);
}
.timerComponent {
    height: 2em;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
    transition: all 0.2s;
}
#mainTimer {
    height: 1.1em;
}

#togglePracticeTimer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    /* background-color: white; */
    border: 2px solid var(--black);
    border-radius: 15px;
    padding: 0.1em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    margin-bottom: 0.2em;
    font-size: 0.85em;
    transition: all 0.4s;
}
#togglePracticeTimer:hover {
    cursor: pointer;
    border-color: var(--colorMainDarker);
}
#togglePracticeTimer .icon {
    margin-right: 0.5em;
}

#gainedPoints {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1em;
    width: 10em;
    height: 1em;
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: -2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: var(--grey3);
    color: gold;
    border-radius: 20px;
    user-select: none;
    margin-left: 50vw;
    transform: translateX(-75%);
    position: absolute;
    opacity: 0;
}

table tr td {
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    font-size: 1em;
    color: var(--black);
    user-select: none;
    transition: all calc(var(--delay) * 0.7);
}

td {
    padding: 0;
}

.game table {
    z-index: 0;
}
.game canvas {
    pointer-events: none;
    z-index: 1;
    margin-left: 2.5em;
}

.game table {
    margin-right: 2.5em;
    margin-left: 2.5em;
}

.game .found h1 {
    margin: 0;
    margin-bottom: 0.75em;
    font-size: 1.4em;
}
.game .found p {
    margin: 0;
    font-size: 1em;
    border-radius: 20px;
    margin-left: -1em;
    padding-left: 1em;
    padding-right: 1em;
    width: fit-content;
}
.game .found p:not(:last-child) {
    margin-bottom: 0.5em;
}

/* bout */

#connectionStatus {
    display: flex;
    text-align: center;
    margin-top: 4em;
    font-weight: bold;
    font-size: 1.2em;
}

.boutTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0;
}

.boutTop .vs {
    margin-left: 2em;
    margin-right: 2em;
}

.boutTop div {
    display: flex;
    flex-direction: column;
}
.boutTop div p:first-of-type {
    font-weight: bold;
}

.boutTop div .gainedPoints {
    scale: 1;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1em;
    width: 5em;
    height: fit-content;
    text-align: center;
    background-color: var(--grey3);
    color: gold;
    border-radius: 20px;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    margin-left: -1em !important;
    margin-bottom: 2.9em !important;
    position: absolute;
    opacity: 0;
}

/* scramble stuff */

/* practice */

.scrambleContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
}
.scrambleContainer #anagram {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    user-select: none;
}
.scrambleContainer #words {
    height: 70vh;
    background-color: blue;
}
.scrambleContainer #wordInput {
    width: 15em;
    height: 1em;
    min-height: 1em;
    margin-top: 3em;
    align-self: center;
    padding: 0.75em;
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-bottom: 4px solid var(--black);
    font-size: 1.25em;
    letter-spacing: 0.2em;
    outline: none;
    user-select: none;
}
.scrambleContainer #wordInput:focus {
    border-color: var(--colorMain);
}